.container-general {
    width: 100%;
    height: 100%;

    background-color: green;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.cajalogin {
    width: 350px;
    height: 500px;
    background-color: aqua;
    border: 1px solid black;
}

.loginform {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;

    width: 100%;
    height: 100%;
}

.loginform div {
    width: 90%;
    height: 19%;
}

.loginform button {
    height: 4%;
}

.loginform div input {
    width: 100%;
    height: 50px;

    border: 1px solid black;
    border-radius: 3px;
}

.alerta {
    position: relative;
    top: -100px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
    width: 80%;
    height: 50px;

    font-weight: bold;

    transition: top ease-in 500ms;
}

.alerta-error {
    background-color: red;
}

.alerta-ok {
    background-color: greenyellow;
}

.hide-alertBox{
    transform: translate(0,-100px);
    transition: all 1s ease;
}